a.h2-link {
    font-size: 15px;
}

#address_form #cart_items ul {
    background: #f5f5f5;
    border: 1px solid #c4c4c4;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
}

#address_form #cart_items ul li.cart-item, li.cart-item {
    position: relative;
    margin: 5px 0;
    padding: 5px;
    list-style: none;
    text-align: left;
    border-bottom: 1px dotted #ccc;
    cursor: move;
    background: none;
    overflow: auto;
}

body li.cart-item.ui-draggable-dragging {
    zoom: 1;
    filter: alpha(opacity=30);
    opacity: 0.3;
    z-index: 900;
}

body > li.cart-item div.quantity {
    display: none;
}

#address_form #cart_items ul li.cart-item:last-child {
    border-bottom: none;
}

#address_form #cart_items ul li span.qty, li.cart-item span.qty  {
    display: inline-block;
    padding: 3px 9px;
    border-radius: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: absolute;
    right: 10px;
    background: red;
    color: #fff;
    font-weight: bold;
}

#address_form #cart_addresses {
    /*float: right;
    width: 78%;
    margin-left: 10px;*/
}

#address_form h2 a.button {
    font-size: 12px ;
    vertical-align: middle;
}

#address_form .address_block {
    overflow: auto;
}

#address_form .address-column {
    /*float: left;
    width: 60%;*/
}

#address_form .items-column {
    background: #f5f5f5;
    border: 1px solid #c4c4c4;
    font-size: 12px;
    margin: 0;
    min-height: 40px;
}

#address_form .items-column.guest {
    /*float: left;
    width: 200px;*/
}

#address_form ul.items-column li {
    position: relative;
    margin: 0;
    padding: 5px 10px;
    list-style: none;
    text-align: left;
    border-bottom: 1px dotted #ccc;
    cursor: default;
    background: none;
    height: 100%;
    overflow: auto;
}

#address_form li.placeholder {
    text-align: center !important;
    font-size: 18px;
    color: #999;
    padding: 30px;
}

#address_form ul.items-column li h3 {
    font-size: 14px;
}

#address_form ul.items-column li img.remove {
    width: 64px;
    height: auto;
    float: left;
    margin-right: 5px;
}

#address_form ul.items-column li:last-child {
    border-bottom: none;
}

#address_form ul.items-column li span.qty {
    display: inline-block;
    padding: 3px 8px;
    margin-right: 5px;
    border-radius: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    float: left;
    background: red;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
}

#address_form ul.items-column li a.remove {
    position: absolute;
    top: 0;
    right: 0;
}

#addresses_container .account-address {
    float: left;
    margin: 5px 10px;
    padding: 5px;
    width: 200px;
    border: 1px solid #999;
    background: #f5f5f5;
    min-height: 140px;
    overflow: hidden;
}

#addresses_container .account-address a.edit {
    float: right;
}

#tb_addresses {
    overflow: auto;
}

#tb_addresses > .address_block {
    width: 150px;
    float: left;
    margin: 10px 2px;
    background: #F5F5F5;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #CCC;
    cursor: pointer;
}

#tb_addresses > .address_block:hover {
    background: #BCFFEC !important;
}

ul.items-column {
    padding: 0 !important;
}

ul.items-column.ui-state-hover, ul.items-column.ui-state-hover li {
    background-color: #E6E56C !important;
    color: #FFF;
}

li.cart-item-active {
    background-color: #E6E56C;
}

.ship_address, .no_shipping_address {
    float: left;
    width: 45%;
    /*margin: 2%;*/
    margin: 2% 2% 2% 0;
    padding: 8px;
    background-color: #eee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #ddd;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    line-height: 1.5em;
}
.ship_address select {
    width: 100% !important;
}
#address_form .address_block {border-bottom: 1px solid #CCC;}

tr.multi_shipping div.ship_address img.help_tip {
    width: 16px;
    height: 16px;
}

tr.multi_shipping div.ship_address small.data {
    display: block;
    margin: 0 0 10px 10px;
}

.update-shipping-addresses {
    float: left;
}

.set-shipping-addresses {
    float: right;
}

.address-container {}
.account-address-block {
    float: left;
    width: 200px;
    margin-bottom: 20px;
}
.address-block {
    float: left;
    width: 200px;
    min-height: 170px;
    margin: 10px 2px;
    position: relative;
}
.address-block .buttons {
    text-align: center;
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.address-block .buttons .button {
    width: 48%;
}
.address-container .clear {
    height: 1px;
    clear: both;
}

.address-duplicate-block {
    border: 1px solid #fff;
    padding: 5px;
}

.address-duplicate-block .buttons .button {
    width: 90%;
}

.address-duplicate-block.on {
    background: #fff9c0;
    border: 1px solid #ffff00;
}

ul.wcsm-config {
    font-size: .87em;
    list-style: none;
    font-weight: normal;
}